.gridLayout {
    display: grid;
    padding: 25% 0% 25% 0%;
}

.productContainer {
    display: grid;
    grid-template-areas: "name name category" "description description description" "prize blank button"
}

.gridLayout div.product {
    grid-area: product;
}

.productContainer .name {
    grid-area: name;
}

.productContainer .category {
    grid-area: category;
}

.productContainer .description {
    grid-area: description;
}

.productContainer .prize {
    grid-area: prize;
}

.productContainer .button {
    grid-area: button;
}

#productDisplay {
    width: 100%;
    grid-area: productDisplay;
}

.grid-area #store {
    grid-template-areas: "productDisplay"
}