body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #333;
}

/* IMAGE ONLY ON THE HERO AREA */
.hero-section {
  background-image: url("images/homephoto.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  /* adjust height */
}

header {
  text-align: center;
  padding: 40px;
}

button {
  background-color: #403d3d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  list-style-position: inside;
  padding: 0;
  max-width: 900px;
  margin: auto;
  text-align: center;
  list-style: none;
}

.steps-grid li svg {
  display: block;
  margin: 0 auto 8px auto;
  width: 32px;
  height: 32px;
  background-color: #68656588;
  padding: 5px;
  border-radius: 7px;
  column-rule: white;
}

.steps-grid li {
  padding: 12px;
  border-radius: 8px;
  text-align: center;
}

/* 7. kohta keskelle */
.steps-grid .center-last {
  grid-column: 2 / 3;
  /* keskimmäinen sarake */
}


#how-it-works h2 {
  text-align: center;
  margin-bottom: 30px;
}

#how-it-works {
  margin-bottom: 70px;
}

footer {
  background-color: #403d3d;
  color: white;
  text-align: center;
  padding: 20px;
}